@import url("../../css/variables.css");

#about {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--body);
}

#about__grid {
  width: 95%;
  margin-top: 46px;
  padding-bottom: 50px;
}

#about__grid__section-title {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 50px;
}

#about__grid__content {
  width: 100%;
}

.about__grid__content__grid {
  height: 100%;
}

#about__grid__content__grid__desc {
  width: 97.5%;
}

#about__grid__content__grid__graph {
  width: 97.5%;
}

.about--graph-item {
  margin-bottom: 30px;
}

/* Media queries (Mobile devices) */
@media only screen and (max-width: 411px) {
  #about__grid__content__grid__desc {
    margin-bottom: 50px;
  }
  #about--circles {
    margin-bottom: 20px;
  }
  /* #about--profile {
    height: 175px;
    width: 175px;
  } */
  .about--graph-item {
    margin-bottom: 50px;
  }
}