@import url("../../css/variables.css");

#skills {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--body);
}

#skills__grid {
  width: 95%;
  margin-top: 46px;
}

#skills__grid__section-title {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

#skills__grid__content {
  width: 100%;
}

#skill-card {
  padding: 1em;
  margin: 1em;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 75px;
  align-items: center;
}

#skill-card h6 {
  font-family: Roboto, sans-serif;
  font-weight: 800;
}
